$black: #000;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.75);
$primary-color: #344a71;
$nav-color: #5ec2a2;
$danger: #ffa593;


//form
$form-border: #cdc7c7;
$form-submit: #5ec2a2;
$label-color: #848080;
$form-h1-color: #4c4c4c;

//chat
$chat-heading: #F62459;
