<div class="wrapper">
    <h1 *ngIf="!userSvc.getLoginStatus()">Laboratorio</h1>
  
    <div class="main" *ngIf="userSvc.getLoginStatus()">
      <ul>
        <li *ngIf="userSvc.isSkolitel()" (click)="openGroups()">Pracovné skupiny</li>
        <li (click)="openCalibrations()">Nová kalibrácia</li>
        <li (click)="openNotEditableCalibrations()">Kalibračné rovnice</li>
      </ul>
    </div>
    <div class="side" *ngIf="userSvc.getLoginStatus()">
      <ul>
        <li (click)="openProfile()">Profil</li>
        <li (click)="logoutUser()">Odhlasit</li>
      </ul>
    </div>
  
  </div>
  