@import '../../../../assets/variables';

.add {
    position: absolute;
    top: 10px;
    right: 10px;
}

.project-item {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
    &:hover {
        background-color: $white-hover;
    } 
}