@import '../../../../assets/variables';

.dataWrap {
    position: relative;
}

.addData {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 30px;
    transition: 0.1s all linear;
    &:hover {
        transform: rotateZ(90deg);
        cursor: pointer;
    }
}

.inputRow {
    width: 90%;
    margin: 3px auto;
    &:last-child {
        margin-bottom: 15px;
    }
    input {
        outline: none;
        border: none;
        width: 48%;
        box-sizing: border-box;
        padding: 5px 0 5px 10px;
        border-radius: 2px;
        &:first-child {
            margin-right: 4%;
        }
    }
}

.actions {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    input[type="submit"] {
        background: $form-submit;
        outline: none;
        padding: 5px 10px;
        border: none;
        width: 100%;
        border-radius: 2px;
        color: $white;
        &:hover{
          cursor: pointer;
        }
    }
}

.description {
    margin: 15px auto;
    border: 2px solid;
    width: 90%;
    height: 30px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    span {
        padding: 0 15px;
    }
}
.center {
    text-align: center;
}

.info {
    font-size: 10px;
    margin-top: 20px;
}

.infoWarn {
    font-size: 15px;
    position: relative;
    top: 3px;
    padding: 0 3px !important;
}

.special {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 20px 0 10px 0;
}