<div *ngIf="ready" class="all">
    <h1 mat-dialog-title>Pracovné skupiny</h1>

    <div mat-dialog-content>
        <h3>Vytvorenie novej skupiny</h3>
        <mat-form-field>
            <mat-label>Názov novej skupiny</mat-label>
            <input matInput [(ngModel)]="newGroup">
        </mat-form-field>
        
        <div mat-dialog-actions align="end">
            <button mat-button (click)="save()">Uložiť</button>
        </div>
        
        <h3>Správa používateľov</h3>
        <mat-form-field>
            <mat-label>Používateľ</mat-label>
            <mat-select [(ngModel)]="userSelected">
                <mat-option *ngFor="let user of users" [value]="user" (click)="userClicked(user)">
                    {{user.login}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="userSelected">
            <h3>Skupiny používateľa {{userSelected.login}}</h3>
            <ul>
                <li *ngFor="let group of groups">
                  <div class="wrapper">
                    <div class="desc">
                      <span>
                        {{group.group}}
                      </span>
                    </div>
                    <div class="delete" (click)="deleteGroup(group)"> 
                      <i class="material-icons remove-icon">
                        clear
                      </i>
                    </div>
                  </div>
                </li>
            </ul>
            <mat-form-field>
                <mat-label>Pridaj skupinu</mat-label>
                <mat-select [(ngModel)]="addGroup">
                    <mat-option *ngFor="let group of this.userSvc.user['user'].groups" [value]="group.group">
                        {{group.group}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div mat-dialog-actions align="end">
                <button mat-button (click)="addGroupToUser()">Pridaj</button>
            </div>
        </div>
</div>

    <i  (click)="onNoClick()" id="closeModal" class="material-icons remove-icon">clear</i>
</div>