<div class="box">
    <div *ngIf="!!project">
        <h1>Projekt: {{project.name}}</h1>
        <span class="undoSpan material-icons" (click)="onBackClicked()">undo</span>
        <i (click)="addNewDate()" class="material-icons add">
            add_box
          </i>
        <div class="projectDate" (click)="showDataByDate(date)" *ngFor="let date of datesArray">
            <span class="material-icons">event</span>
            <span class="date" >{{date}}</span>
        </div>

    </div>
    <div class="wrapper" *ngIf="!project">
        <mat-spinner></mat-spinner>
    </div>

</div>